main.incorrect_password > a {
	display: block;
}

main.login {
	text-align: center;
}

main.login > form > label {
	display: block;
	margin: 0.5ex 0;
}

main.main > div.tag {
	display: flex;
	cursor: pointer;
}

main.main > div.tag > a.inactive {
	border: black thin solid;
	border-radius: 1ex 1ex 0 0;
	padding: 1ex 2ex;
	background-color: lightgray;
}

main.main > div.tag > a.active {
	border: black thin solid;
	border-bottom: none;
	border-radius: 1ex 1ex 0 0;
	padding: 1ex 2ex;
	background-color: white;
}

main.main > div.tag > span {
	flex-grow: 1;
	border-bottom: black thin solid;
}

main.main > div.tab {
	border: black thin solid;
	border-top: none;
	padding: 2ex;
}

section.account > form {
	margin: 2ex 0;
}

section.key > form > div {
	display: block;
	margin: 0.5ex 0;
}

section.data > form > div {
	margin: 1ex 0;
}

section.data > form > div > label > textarea {
	display: block;
	width: 100%;
}

section.data-wrong-key > span {
	padding: 0.5ex;
	border: gray thin solid;
	background-color: lightgray;
}

section.generation > form {
	height: calc(100vh - 14ex);
}

section.generation > form > div {
	margin: 1ex 0;
}

section.generation > form > div > label > output {
	padding: 1ex;
	font-family: monospace;
}

section.generation > form > div > label > output.progress {
	background-color: white;
	color: lightgray;
}

section.generation > form > div > label > output.ready {
	background-color: lightyellow;
	color: darkblue;
}

a.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

button {
	cursor: pointer;
}
